html {
  scroll-behavior: smooth;
}
.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}
.project {
  background-color: #e2edff;
}
section {
  padding-top: 5rem;
}
.gallery-img {
  width: 100%;
}
#gallery .row > * {
  padding: 0;
}
footer a {
  color: white;
  text-decoration: none;
}
footer a:hover {
  color: yellow;
  text-decoration: none;
}
